@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Inter+Tight:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* resetando o CSS*/
*{
    margin: 0;
    padding: 0;
}


/* body define propriedades do corpo */
body{
    height:100vh;
    background-color: rgb(27, 24, 24);
    color: #F6F6F6;
    box-sizing: border-box;
}
/*strong{color: #22D4FD;}*/
.destacasubtitulo{color: #22D4FD;    
}
/*início das classes*/
.apresentacao{
            margin: 15%;
            display: flex;
            align-items: center;
            justify-content: space-between;
}

.apresenta__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresenta__conteudo__titulo{
    font-size: 36px;
    font-family:'Montserrat', sans-serif;
    font-weight: 60;
}

.apresenta__conteudo__texto{
    font-size: 24px;
    font-family: 'Inter Tight', sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;

}


.apresentacao__links__caixa{
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Inter Tight', sans-serif ;
    font-weight: bold;

}
.cabeçalho{
    padding-top:  60px;
    padding-left: 300px;
    border: 1px;   
    width: 50%;
    height: 50px;
    margin: 10px;
    background: transparent;
    
    align-items: center;
   
}

.ajusta__texto__cabeçalho{
    padding-bottom: 10px;
    font-size: 44px;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-style: normal;
}



/*
font-variation-settings:
  "wdth" 100;*/